<div class="container mt-3 p-3">
  <h2 class="mb-4">Cadastro de cliente</h2>
  <form>
    <div class="col-6 mb-3">
      <label for="inputPassword5" class="form-label">Nome</label>
      <input type="text" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
    </div>
    <div class="col-2 mb-3">
      <label for="inputPassword5" class="form-label">Data de Nascimento</label>

      <div class="card flex justify-content-center">
        <p-calendar [(ngModel)]="date" [showIcon]="true"></p-calendar>
      </div>

    </div>
    <div class="row g-3">
      <div class="col-4 mb-3">
        <label for="inputPassword5" class="form-label">E-mail</label>
        <input type="email" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
      </div>
      <div class="col-2 mb-3">
        <label for="inputPassword5" class="form-label">Telefone</label>

        <span class="font-bold block mb-2">Phone</span>
        <p-inputMask mask="(99) 9 9999-9999" [(ngModel)]="value1" placeholder="(99) 9 9999-9999"></p-inputMask>
      </div>
    </div>
    <div class="row g-3">
      <div class="col-5 mb-3">
        <label for="inputPassword5" class="form-label">Cidade</label>
        <input type="text" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
      </div>
      <div class="col-1 mb-3">
        <label for="exampleInputPassword1" class="form-label">Estado</label>
        <select id="disabledSelect" class="form-select form-control">
          <option>SC</option>
          <option>RS</option>
          <option>PR</option>
          <option>AM</option>
        </select>
      </div>
    </div>
    <div class="row g-3">
      <div class="col-4 mb-3">
        <label for="inputPassword5" class="form-label">Bairro</label>
        <input type="text" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
      </div>
      <div class="col-1 mb-3">
        <label for="exampleInputPassword1" class="form-label">Número</label>
        <input type="number" class="form-control" id="exampleInputPassword1">
      </div>
    </div>
    <div class="col-6 mb-3">
      <label for="inputPassword5" class="form-label">Rua</label>
      <input type="text" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
    </div>
    <button type="submit" class="btn btn-primary">
      <i class="bi bi-person-plus"></i>
      <span class="m-2">Cadastrar</span>
    </button>
  </form>
</div>
