<div class="container mt-3 p-3">
  <h2 class="mb-4">Cadastro de cliente</h2>
  <form>
    <div class="mb-3">
      <label for="inputPassword5" class="form-label">Nome</label>
      <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
    </div>
    <div class="mb-3">
      <label for="inputPassword5" class="form-label">Data de Nascimento</label>
      <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
    </div>
    <div class="mb-3">
      <label for="inputPassword5" class="form-label">Telefone</label>
      <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
    </div>
    <div class="mb-3">
      <label for="inputPassword5" class="form-label">E-mail</label>
      <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
    </div>
    <div class="mb-3">
      <label for="inputPassword5" class="form-label">Password</label>
      <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
