<div class="container mt-3 p-3">
    <h2 class="mb-4">Lista de clientes</h2>
    <div class="row">
        <div class="col-12 d-flex justify-content-end">
            <button class="btn btn-primary">
                <i class="bi bi-person-plus"></i>
                <span class="m-2">Novo</span>
            </button>
            <button class="btn btn-primary">
                <i class="bi bi-person-plus"></i>
                <span class="m-2">Novo</span>
            </button>
        </div>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Idade</th>
                <th>Telefone</th>
                <th>E-mail</th>
                <th>Cidade</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>John</td>
                <td>20</td>
                <td>99192394</td>
                <td>john@example.com</td>
                <td>Ilhota</td>
                <td class="text-center">
                    <div class="justify-content-center">
                        <button class="btn btn-info">
                            <i class="bi bi-pencil text-white"></i>
                        </button>
                        <button class="btn btn-danger ms-2">
                            <i class="bi bi-trash"></i>
                        </button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Mary</td>
                <td>20</td>
                <td>99192394</td>
                <td>mary@example.com</td>
                <td>Ilhota</td>
            </tr>
            <tr>
                <td>July</td>
                <td>20</td>
                <td>99192394</td>
                <td>july@example.com</td>
                <td>Ilhota</td>
            </tr>
        </tbody>
    </table>
</div>