.navbar-vertical{
  background-color: #212b36;
}

img{
  filter: invert(100%);
}

a{
  color: white!important;
  text-decoration: none;
}

li{
  text-align: start;
  font-size: 18px;
  padding: 10px;
}
