<div class="container-fluid ">
  <div class="row flex-nowrap">
    <div class="bg-dark col-md-2 min-vh-100">
      <a class="d-flex text-decoration-none align-items-center mt-4">
        <span class="fs-4 d-none d-sm-inline text-white">
          <img class="w-100" src="assets/mk.png" alt="logo-mary">
        </span>
      </a>
      <hr class="border-bottom border-white w-100">
      <ul class="list-unstyled components mb-5">
        <li class="sidebar-item active">
          <a href="#" class="sidebar-link">
            <i class="bi bi-envelope"></i>
            Home
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
