.navbar-vertical{
  background-color: #212b36;
}

img{
  filter: invert(100%);
}

a{
  color: white!important;
  text-decoration: none;
}

li{
  text-align: start;
  font-size: 24px;

  border-radius: 10px;
  width: 100%;
  padding: 10px;
  transition: 0.2s;
}

li:hover{
  background-color: #8d9399;
  transition-timing-function: ease;
}
