.table-container{
  width: 90%;
  margin: auto;
}

table {
  width: 100%;
}

.swal2-confirm {
  background-color: red!important;
  color: white!important;
}

mat-button{
  background: #0D1321;
  color: #F0EBD8;
}
